*~
target
*.log
*.log.zip
*.idea
*.iml
*.ipr
*.iws
*.swp
*.project
*.classpath
*.settings
*.metadata
*.rpm
*.deb
.vagrant
.DS_Store
.pydevproject
setexpt
nbactions.xml
nb-configuration.xml
test-output
cleanup-testng-out
logs/
modules/ui/coverage
modules/ui/results
modules/ui/coverage2
modules/ui/results2
modules/ui/dist
node_modules
modules/ui/app/bower_components
modules/ui/app/scripts/config.js
modules/ui/dist.zip
*.log.zip

