# Uncomment the lines below if you have proxy or other network issues
# Change both proxy URLs to your proxy server
#http-proxy=http://localhost:8080
#https-proxy=http://localhost:8080
#strict-ssl=false
