<div id="analysisGraphModal" class="modalDialog">
    <h1>Analysis</h1>
    <div class="dialogContent">
        <div>
            <span class="info dailiesInfo" help help-content="{{help.performanceGraph}}"></span>
            <div id="analysis_chart" style="width: 750px; height: 350px;" google-charts ng-model="dailies"></div>
        </div>

        <div class="buttonBar">
            <button id="btnCancel" class="blue cancel" onclick="return false;" ng-click="cancel();">Close</button>
        </div>
    </div>
</div>
