<div id="dlgConfirm" class="modalDialog">
    <h1>{{header}}</h1>

    <div class="dialogContent">
        <div ng-show="{{!showWithHTML}}" class="instructions" ng-bind="description"></div>
        <div ng-show="{{showWithHTML}}" class="instructions" ng-bind-html="descriptionWithHTML"></div>
        <div class="buttonBar">
            <button id="btnConfirmOk" class="blue" ng-click="ok()">{{okLabel}}</button>
            <button class="cancel" ng-show="showCancel" ng-click="cancel()">{{cancelLabel}}</button>
        </div>
    </div>
</div>
